# .gitignore

# Ignore binaries and DLLs
*.dll
*.pyd
*.so

# Ignore site-packages and virtual environments
Lib/
SEPartha/Lib/
SathPath/Lib/
venv/
env/
__pycache__/

# Ignore model weights and large data
*.pt
*.ckpt
*.h5
*.pkl
*.csv
*.json

.streamlit/